<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.select :locale, ['en'] %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <br/>
  <%= f.text_area :body, placeholder: 'Blog content' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
